body {
    background-color: #f2f1ed;
}

h2 {
    font-family: 'bg-boldest-it';
    font-size: 2em;
    color: #FF9D00;
}

h4 {
    font-family: 'bg-low-it';
    font-size: 1.5em;
    color: #405275;
}

h5 {
    font-family: 'Geosans';
    font-size: 1.2em;
    color: #405275;
}

h5:hover {
    font-family: 'Geosans';
    font-size: 1.2em;
    color: #242f42;
}

@font-face {
    font-family: Bebas;
    src: url(../fonts/BebasNeue-Regular.ttf);
}
  
@font-face {
    font-family: Bignoodletoo;
    src: url(../fonts/bignoodletoo.ttf);
}

@font-face {
    font-family: Geosans;
    src: url(../fonts/GeosansLight-Oblique.ttf);
}

@font-face {
    font-family: bg-boldest-it;
    src: url(../fonts/built-bd-it.ttf);
}
  
/* @font-face {
    font-family: bg-boldest;
    src: url(../fonts/built-bd.ttf);
} */

/* @font-face {
    font-family: bg-thin-it;
    src: url(../fonts/built-el-it.ttf);
} */

/* @font-face {
    font-family: bg-low;
    src: url(../fonts/built-lt.ttf);
} */

@font-face {
    font-family: bg-low-it;
    src: url(../fonts/built-lt-it.ttf);
}

/* @font-face {
    font-family: bg-medium-it;
    src: url(../fonts/built-rg-it.ttf);
} */

@font-face {
    font-family: bg-medium;
    src: url(../fonts/built-rg.ttf);
}

/* @font-face {
    font-family: bg-bolder-it;
    src: url(../fonts/built-sb-it.ttf);
} */

/* @font-face {
    font-family: bg-bolder;
    src: url(../fonts/built-sb.ttf);
} */

/* Header */

.header {
    background-color: #cccccc;
    /* background-color: #333333; */
    height: 8em;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.header-links {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    list-style-type: none;
    margin-right: 2em;
}

.header-link-font {
    font-family: 'Geosans';
    font-size: 1.4em;
    color: #405275;
    font-weight: bold;
}

.header-link-font:hover {
    font-family: 'Geosans';
    font-size: 1.4em;
    color: #242f42;
    font-weight: bold;
}

.header-title-font {
    font-family: 'Bignoodletoo';
    font-size: 2em;
    color: #405275;
}

.header-title-font:hover {
    font-family: 'Bignoodletoo';
    font-size: 2em;
    color: #242f42;
}

.header-title {
    display: flex;
    align-items: flex-end;
    margin-left: 2em;
    margin-bottom: 1em;
}

/* Home Page */

.home-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #a1a1a1;
    padding: 1.5em;
    height: 10.5em;
    -webkit-box-shadow: inset 0px 0px 20px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 20px -7px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 20px -7px rgba(0,0,0,0.75);
}

.home-banner-font {
    font-size: 2em;
    font-family: 'Bebas';
    color: #FF9D00;
    /* color: #e0dfdc; */
    /* background: #556677; */
    letter-spacing: .1em;
    /* text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0,0,0,0.9); */
    text-shadow: 0px 5px 4px rgba(150, 150, 150, 1);
    text-align: center;
}

.text-shadow {
    text-shadow: 0px 5px 4px rgba(150, 150, 150, 1);
    text-align: center;
}

.home-learn-section {
    display: flex;
    flex-direction: column;
    margin-top: 3em;
    margin-bottom: 3em;
    padding: 2.5em;
    -webkit-box-shadow: 0px 0px 31px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 31px -7px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 31px -7px rgba(0,0,0,0.75);
}

.home-learn-button {
    width: 100%;
}

.home-font {
    font-family: 'bg-low-it';
    font-size: 1.9em;
    color: #405275;
}

.home-data-section {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-around;
    align-items: baseline;
    padding: 0.5em;
    -webkit-box-shadow: 0px 0px 31px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 31px -7px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 31px -7px rgba(0,0,0,0.75);
}

.home-data {
    background-color: #e0e1e2;
    padding: 0.9em;
    border-radius: 0.2em;
    transition: 0.2s;
    margin-top: 1em;
}

.home-data:hover {
    background-color: #cccccc;
    padding: 1em;
    border-radius: 0.2em;
    transition: 0.2s;
    margin-top: 1em;
}

.home-data-font {
    font-family: 'bg-medium';
    font-size: 2em;
    color: #405275;
}

.home-search-section {
    display: flex;
    flex-direction: column;
    padding: 2.5em;
    margin-top: 3em;
    -webkit-box-shadow: 0px 0px 31px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 31px -7px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 31px -7px rgba(0,0,0,0.75);
}

.home-thumbnails {
    background-color: #a1a1a1;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    margin-top: 5em;
    padding: 3.5em;
    -webkit-box-shadow: inset 0px 0px 20px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 20px -7px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 20px -7px rgba(0,0,0,0.75);
}

.view-button {
    width: 100%;
}

.input-align {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 600px) {
    .home-banner {
        height: 12em;
    }
}

@media screen and (max-width: 600px) {
    .home-banner-font {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 600px) {
    .home-data-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* align-items: baseline; */
        padding: 1em;
        -webkit-box-shadow: 0px 0px 31px -7px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 31px -7px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 31px -7px rgba(0,0,0,0.75);
    }
}

@media screen and (max-width: 600px) {
    .divider-hidden {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .home-thumbnails {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 600px) {
    .home-thumbnail-shadows {
        padding: 3em;
    }
}

/* Footer */

.footer {
    background-color: #cccccc;
    /* background-color: #333333; */
    height: 26em;
    bottom: 0;
}

.footer-title {
    text-align: center;
    text-shadow: 0px 4px 5px rgba(150, 150, 150, 1);
}

.footer-font {
    font-family: 'Geosans';
    font-size: 1.2em;
    font-weight: 800;
    color: #405275;
}

.footer-font:hover {
    font-family: 'Geosans';
    font-size: 1.2em;
    font-weight: 800;
    color: #242f42;
}

.footer-list {
    list-style-type: none;
}

.footer-content {
    display: flex;
    justify-content: space-evenly;
    /* justify-content: space-around; */
}

@media screen and (max-width: 600px) {
    .footer {
        height: 100%;
    }
}

@media screen and (max-width: 600px) {
    .footer-content {
        display: flex;
        /* flex-direction: column; */
        justify-content: flex-start;
        flex-wrap: wrap;
        /* align-items: baseline; */
        margin-left: 2.3em;
    }
}

@media screen and (max-width: 600px) {
    .footer-bottom {
        margin-bottom: 2em;
    }
}