body {
    background-color: #f2f1ed;
}

h1 {
    font-family: 'Bignoodletoo';
    font-size: 3em;
}

h2 {
    font-family: 'bg-boldest-it';
    font-size: 2em;
}

h4 {
    font-family: 'bg-low-it';
    font-size: 1.5em;
}

h5 {
    font-family: 'Geosans';
    font-size: 1.2em;
}

span {
    /* font-family: 'bg-medium'; */
    font-size: 1.5em;
    /* font-family: 'Bebas' */
    font-family: 'Geosans'
}

.font-fam {
    font-family: "Major Mono Display", monospace;
    font-family: "Poiret One", cursive;
    font-family: "Quicksand", sans-serif;
    font-family: "Raleway Dots", cursive;
    font-family: "Thasadith", sans-serif;
  }

  @font-face {
    font-family: Bebas;
    src: url(../fonts/BebasNeue-Regular.ttf);
  }
  
  @font-face {
    font-family: Bignoodletoo;
    src: url(../fonts/bignoodletoo.ttf);
  }

  @font-face {
    font-family: Geosans;
    src: url(../fonts/GeosansLight-Oblique.ttf);
  }

  @font-face {
    font-family: bg-boldest-it;
    src: url(../fonts/built-bd-it.ttf);
  }
  
  @font-face {
    font-family: bg-boldest;
    src: url(../fonts/built-bd.ttf);
  }

  @font-face {
    font-family: bg-thin-it;
    src: url(../fonts/built-el-it.ttf);
  }

  @font-face {
    font-family: bg-low;
    src: url(../fonts/built-lt.ttf);
  }

  @font-face {
    font-family: bg-low-it;
    src: url(../fonts/built-lt-it.ttf);
  }

  @font-face {
    font-family: bg-medium-it;
    src: url(../fonts/built-rg-it.ttf);
  }

  @font-face {
    font-family: bg-medium;
    src: url(../fonts/built-rg.ttf);
  }

  @font-face {
    font-family: bg-bolder-it;
    src: url(../fonts/built-sb-it.ttf);
  }

  @font-face {
    font-family: bg-bolder;
    src: url(../fonts/built-sb.ttf);
  }

/* Header */

.header {
    background-color: #cccccc;
    /* background-color: #333333; */
    height: 8em;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.header-links {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    list-style-type: none;
    margin-right: 2em;
}

.header-link-font {
    /* font-family: 'bg-low'; */
    font-family: 'Geosans';
    /* font-size: 2em; */
    font-size: 1.5em;
}

.header-title {
    display: flex;
    align-items: flex-end;
    margin-left: 2em;
    margin-bottom: 1em;
}

/* Home Page */

.home-banner {
    /* background-color: #8c8c8c; */
    padding: 1.5em;
    height: 12em;
    /* -webkit-box-shadow: inset 0px 0px 20px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 20px -7px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 20px -7px rgba(0,0,0,0.75); */
}

.home-learn-section {
    display: flex;
    flex-direction: column;
    margin-top: 3em;
    margin-bottom: 3em;
    padding: 2.5em;
}

.home-learn-button {
    width: 100%;
}

.home-data-section {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-around;
    align-items: baseline;
    padding: 0.5em;
    -webkit-box-shadow: 0px 0px 31px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 31px -7px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 31px -7px rgba(0,0,0,0.75);
}

.home-search-section {
    display: flex;
    flex-direction: column;
    padding: 2.5em;
    margin-top: 3em;
}

.home-thumbnails {
    /* background-color: #8c8c8c; */
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    margin-top: 5em;
    padding: 3.5em;
    /* -webkit-box-shadow: inset 0px 0px 20px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 20px -7px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 20px -7px rgba(0,0,0,0.75); */
}

.home-thumbnail-shadows {
    -webkit-box-shadow: 0px 17px 40px -18px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 17px 40px -18px rgba(0,0,0,0.75);
    box-shadow: 0px 17px 40px -18px rgba(0,0,0,0.75);
}

@media screen and (max-width: 600px) {
    .home-thumbnails {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 600px) {
    .home-thumbnail-shadows {
        padding: 3em;
    }
}

/* Footer */

.footer {
    background-color: #cccccc;
    /* background-color: #333333; */
    height: 26em;
    bottom: 0;
}

.footer-title {
    text-align: center;
}

.footer-font {
    font-family: 'Geosans';
    font-size: 1.2em;
    font-weight: 800;
}

.footer-list {
    list-style-type: none;
}

.footer-content {
    display: flex;
    justify-content: space-evenly;
}