body {
    background-color: #f2f1ed;
}

p {
    font-family: 'bg-medium-it';
    font-size: 2em;
    color: #FF9D00;
}

h1 {
    font-family: 'bg-boldest';
    font-size: 3em;
    color: #405275;
}

h2 {
    font-family: 'bg-boldest-it';
    font-size: 2em;
    color: #FF9D00;
}

h4 {
    font-family: 'bg-low-it';
    font-size: 1.5em;
    color: #405275;
}

h5 {
    font-family: 'Geosans';
    font-size: 1.2em;
    color: #405275;
}

h5:hover {
    font-family: 'Geosans';
    font-size: 1.2em;
    color: #242f42;
}

strong {
    font-size: 2em;
}

@font-face {
    font-family: Bebas;
    src: url(../fonts/BebasNeue-Regular.ttf);
}
  
@font-face {
    font-family: Bignoodletoo;
    src: url(../fonts/bignoodletoo.ttf);
}

@font-face {
    font-family: Geosans;
    src: url(../fonts/GeosansLight-Oblique.ttf);
}

@font-face {
    font-family: bg-boldest-it;
    src: url(../fonts/built-bd-it.ttf);
}
  
@font-face {
    font-family: bg-boldest;
    src: url(../fonts/built-bd.ttf);
}

/* @font-face {
    font-family: bg-thin-it;
    src: url(../fonts/built-el-it.ttf);
} */

/* @font-face {
    font-family: bg-low;
    src: url(../fonts/built-lt.ttf);
} */

@font-face {
    font-family: bg-low-it;
    src: url(../fonts/built-lt-it.ttf);
}

@font-face {
    font-family: bg-medium-it;
    src: url(../fonts/built-rg-it.ttf);
}

@font-face {
    font-family: bg-medium;
    src: url(../fonts/built-rg.ttf);
}

/* @font-face {
    font-family: bg-bolder-it;
    src: url(../fonts/built-sb-it.ttf);
} */

/* @font-face {
    font-family: bg-bolder;
    src: url(../fonts/built-sb.ttf);
} */

/* Header */

.header {
    background-color: #cccccc;
    /* background-color: #333333; */
    height: 8em;
    width: 100%;
}

.header-title-font {
    font-family: 'Bignoodletoo';
    font-size: 2em;
    color: #405275;
}

.header-title-font:hover {
    font-family: 'Bignoodletoo';
    font-size: 2em;
    color: #242f42;
}

.header-title {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 90%;
}

@media screen and (max-width: 600px) {
    .header-title-font {
        font-size: 1.3em;
    }
}

/* Navbar */

.nav-list {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background-color: #242424; */
    background-color: rgb(255, 186, 74); 
    /* background-color: #FF9D00;  */
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

.nav-link-font {
    display: block;
    text-decoration: none;
    font-family: 'Bebas';
    font-size: 1.4em;
    /* color: #f2f1ed; */
    color: #405275;
    font-weight: bold;
    padding: 0.7em;
}

.nav-link-font:hover {
    display: block;
    text-decoration: none;
    font-family: 'Bebas';
    font-size: 1.4em;
    /* color: #a1a1a1; */
    color: #242f42;
    font-weight: bold;
    padding: 0.7em;
}

.nav-ow-logo {
    margin-top: 0.5em;
}

@media screen and (max-width: 600px) {
    .nav-link-font {
        font-size: 1.2em;
    }
}

/* Home Page */

.home-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #a1a1a1;
    padding: 1.5em;
    height: 10.5em;
    -webkit-box-shadow: inset 0px 0px 20px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 20px -7px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 20px -7px rgba(0,0,0,0.75);
}

.home-banner-font {
    font-size: 2em;
    font-family: 'Bebas';
    color: #FF9D00;
    letter-spacing: .1em;
    text-shadow: 0px 5px 4px rgba(150, 150, 150, 1);
    text-align: center;
}

.text-shadow {
    text-shadow: 0px 5px 4px rgba(150, 150, 150, 1);
    text-align: center;
}

.home-learn-section {
    display: flex;
    flex-direction: column;
    margin-top: 3em;
    margin-bottom: 3em;
    padding: 2.5em;
    -webkit-box-shadow: 0px 0px 31px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 31px -7px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 31px -7px rgba(0,0,0,0.75);
}

.home-learn-button {
    width: 100%;
}

.home-font {
    font-family: 'bg-low-it';
    font-size: 1.9em;
    color: #405275;
}

.home-data-section {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    padding: 0.5em;
    -webkit-box-shadow: 0px 0px 31px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 31px -7px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 31px -7px rgba(0,0,0,0.75);
}

.home-data {
    background-color: #e0e1e2;
    padding: 0.9em;
    border-radius: 0.2em;
    transition: 0.2s;
    margin-top: 1em;
}

.home-data:hover {
    background-color: #cccccc;
    padding: 1em;
    border-radius: 0.2em;
    transition: 0.2s;
    margin-top: 1em;
}

.home-data-font {
    font-family: 'bg-medium';
    font-size: 2em;
    color: #405275;
}

.home-search-section {
    display: flex;
    flex-direction: column;
    padding: 2.5em;
    margin-top: 3em;
    -webkit-box-shadow: 0px 0px 31px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 31px -7px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 31px -7px rgba(0,0,0,0.75);
}

.home-thumbnails {
    background-color: #a1a1a1;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    margin-top: 5em;
    padding: 3.5em;
    -webkit-box-shadow: inset 0px 0px 20px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 20px -7px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 20px -7px rgba(0,0,0,0.75);
}

.view-button {
    width: 100%;
}

.input-align {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 600px) {
    .home-banner {
        height: 12em;
    }
}

@media screen and (max-width: 600px) {
    .home-banner-font {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 600px) {
    .home-data-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1em;
        -webkit-box-shadow: 0px 0px 31px -7px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 31px -7px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 31px -7px rgba(0,0,0,0.75);
    }
}

@media screen and (max-width: 600px) {
    .divider-hidden {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .home-thumbnails {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 600px) {
    .thumbnails-margin-top {
        margin-top: 2em;
    }
}

@media screen and (max-width: 600px) {
    .home-thumbnail-shadows {
        padding: 3em;
    }
}

/* Hero List Page */

.heros-margin-top {
    margin-top: 7em;
}

.hero-list-overview-title {
    text-align: center;
    padding: 1.5em;
}

.section-left {
    width: 50%;
    text-align: left;
    padding: 1em;
    overflow: scroll;
    max-height: 300px;
}

.section-right {
    width: 50%;
    text-align: left;
    padding: 1em;
}

.section-hero-list {
    display: flex;
    justify-content: center;
    padding: 3em;
    -webkit-box-shadow: 0px 0px 31px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 31px -7px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 31px -7px rgba(0,0,0,0.75);
}

.hero-list-heading {
    text-shadow: 0px 4px 5px rgba(150, 150, 150, 1);
    margin-left: 3em;
}

.hero-list {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
}

.hero {
    padding: 1em;
    text-align: center;
    transition: 0.1s;
}

.hero:hover {
    text-shadow: 0px 4px 5px rgba(150, 150, 150, 1);
    transition: 0.1s;
}

.align-list-center {
    display: flex;
    justify-content: center;
}

.hero-font {
    font-family: 'bg-low-it';
    font-size: 2em;
    color: #405275;
}

@media screen and (max-width: 600px) {
    .hero-list-overview-title {
        font-size: 2.3em;
    }
}

@media screen and (max-width: 600px) {
    .section-hero-list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 600px) {
    .section-left {
        width: 100%;
        text-align: center;
        max-height: 100%;
    }
}

@media screen and (max-width: 600px) {
    .section-right {
        width: 100%;
        text-align: center;
        margin-top: 3em;
    }
}

@media screen and (max-width: 600px) {
    .hero-list-heading {
        margin-left: 0;
        text-align: center;
        text-shadow: 0px 4px 5px rgba(150, 150, 150, 1);
    }
}

@media screen and (max-width: 600px) {
    .hero-list {
        display: flex;
        justify-content: center;
        width: 100%;
    }
}

/* Footer */

.footer {
    background-color: #cccccc;
    /* background-color: #333333; */
    height: 26em;
    bottom: 0;
}

.footer-title {
    text-align: center;
    text-shadow: 0px 4px 5px rgba(150, 150, 150, 1);
}

.footer-font {
    font-family: 'Geosans';
    font-size: 1.2em;
    font-weight: 800;
    color: #405275;
}

.footer-font:hover {
    font-family: 'Geosans';
    font-size: 1.2em;
    font-weight: 800;
    color: #242f42;
}

.footer-list {
    list-style-type: none;
}

.footer-content {
    display: flex;
    justify-content: space-evenly;
}

@media screen and (max-width: 600px) {
    .footer {
        height: 100%;
    }
}

@media screen and (max-width: 600px) {
    .footer-content {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin-left: 2.3em;
    }
}

@media screen and (max-width: 600px) {
    .footer-bottom {
        margin-bottom: 2em;
    }
}